In [ ]:
import pandas as pd
series = pd.Series([1,2,3],index=['a','b','c'])
print(series)
data={'Name' : ['John','Anna','Peter'],
      'Age' : [28,24,35]}
df=pd.DataFrame(data)
print(df)

a    1
b    2
c    3
dtype: int64
    Name  Age
0   John   28
1   Anna   24
2  Peter   35

In [ ]:
df=pd.DataFrame({'Name' : ['John','Anna','Peter'],
                 'Age' : [28,24,35]})
print(df['Name'])
print(df.iloc[0])
print(df.loc[0,'Name'])

0     John
1     Anna
2    Peter
Name: Name, dtype: object
Name    John
Age       28
Name: 0, dtype: object
John

In [ ]:
df=pd.DataFrame({'Name' : ['John','Anna','Peter'],
                 'Age' : [28,24,35]})
print(df.isnull())
df = df.dropna()
print(df)
df = pd.DataFrame({'Name' : ['John',None,'Peter'],
                   'Age' : [28,24,None]})
df = df.fillna('Unknown')
print(df)

    Name    Age
0  False  False
1  False  False
2  False  False
    Name  Age
0   John   28
1   Anna   24
2  Peter   35
      Name      Age
0     John     28.0
1  Unknown     24.0
2    Peter  Unknown

In [ ]:
df=pd.DataFrame({'Name' : ['John','Anna','Peter'],
                 'Age' : [28,24,35]})
df = df.rename(columns={'Name' : 'Full Name'})
print(df)
df = pd.DataFrame({'Name' : ['John',None,'Peter'],
                   'Age' : [28,24,None]})
df_filtered = df[df['Age']>30]
print(df_filtered)

  Full Name  Age
0      John   28
1      Anna   24
2     Peter   35
Empty DataFrame
Columns: [Name, Age]
Index: []

In [ ]:
df = pd.DataFrame({'Category' : ['A','B','A','B'],
                   'Value' : [10,20,30,40]})
grouped = df.groupby('Category')
print(grouped.sum())

          Value
Category
A            40
B            60

In [ ]:
df1=pd.DataFrame({'Key': ['A','B','C'],
                  'Value1' : [10,20,30]})

print(df.isnull())
df = df.dropna()
print(df)
df = pd.DataFrame({'Name' : ['John',None,'Peter'],
                   'Age' : [28,24,None]})
df = df.fillna('Unknown')
print(df)

    Name    Age
0  False  False
1  False  False
2  False  False
    Name  Age
0   John   28
1   Anna   24
2  Peter   35
      Name      Age
0     John     28.0
1  Unknown     24.0
2    Peter  Unknown

In [ ]:
df1=pd.DataFrame({'Key': ['A','B','C'],
                  'Value1' : [10,20,30]})

print(df.isnull())
df = df.dropna()
print(df)
df = pd.DataFrame({'Name' : ['John',None,'Peter'],
                   'Age' : [28,24,None]})
df = df.fillna('Unknown')
print(df)

    Name    Age
0  False  False
1  False  False
2  False  False
    Name  Age
0   John   28
1   Anna   24
2  Peter   35
      Name      Age
0     John     28.0
1  Unknown     24.0
2    Peter  Unknown

In [ ]:
df1=pd.DataFrame({'Key': ['A','B','C'],
                  'Value1' : [10,20,30]})
df2=pd.DataFrame({'Key' : ['A','B','C'],
                   'Value2' : [40,50,60]})
merged = pd.merge(df1,df2,on='Key')
print(merged)

  Key  Value1  Value2
0   A      10      40
1   B      20      50
2   C      30      60

In [ ]:
import pandas as pd
df = pd.DataFrame({'Name' : ['John','Anna','Peter'],'Age' : [28,24,35]})
df.to_csv('data.csv',index=False)
print(pd.read_csv('data.csv'))

    Name  Age
0   John   28
1   Anna   24
2  Peter   35