In [ ]:
 PYTHON TASK NO 1

Number in python

a=10
b=8
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

18
2
80
1.25
2

In [ ]:
Operators in python

#arithmetic operators
a=5
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)

#Comparison opertors
print(a==b)
print(a!=b)
print(a>b)
print(a<b)

#logical opertors
print(a > b and a==5)
print(a > b or a==3)

#assignment opertors
a +=b
print(a)

8
2
15
1.6666666666666667
False
True
True
False
True
True
8

In [ ]:
Lists in python

#create a list
my_list=[1,2,3,4,5]

#accessing elements
print(my_list[0])
print(my_list[-1])

#modifying elements
my_list[0]=10
print(my_list)

#adding elements
my_list.append(6)
print(my_list)
my_list.insert(0,0)
print(my_list)

#removing elements
my_list.remove(10)
print(my_list)
my_list.pop()
print(my_list)

#other methods
my_list.sort()
print(my_list)
my_list.reverse()
print(my_list)

1
5
[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5, 6]
[0, 10, 2, 3, 4, 5, 6]
[0, 2, 3, 4, 5, 6]
[0, 2, 3, 4, 5]
[0, 2, 3, 4, 5]
[5, 4, 3, 2, 0]

In [ ]:
Tuple in python

#create a tuple
my_tuple=(1,2,3,4,5)

#accessing elements
print(my_tuple[0])
print(my_tuple[-1])

#slicing
print(my_tuple [1:3])

#concatenation
my_tuple2 = (6,7,8)
print(my_tuple+my_tuple2)

#repetition
print(my_tuple*2)

#count
print(my_tuple.count(2))

#index
print(my_tuple.index(3))

1
5
(2, 3)
(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
1
2

In [ ]:
Sets in python

#create a set
my_set ={1,2,3,4,5}

#adding elements
my_set.add(6)
print(my_set)

#removing elements
my_set.remove(4)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 5, 6}